package main

import (
	"{{.Route}}"
	"{{.Configs}}"
	"fmt"
	"net/http"
	"os"
	"strings"

	_ "{{.Migrations}}"

	"github.com/gorilla/mux"
	"github.com/joho/godotenv"
	"github.com/knyazev-ro/perturabo/cmd"
	vulcanCfg "github.com/knyazev-ro/vulcan/config"
	vulcanOrmDb "github.com/knyazev-ro/vulcan/orm/db"
)

// list of declarations
func RegisterCli() {
	cmd.Handle(os.Args)
	// etc.
}

func RegisterORM(dbC *configs.DatabaseConfig) {
	vulcanCfg.SetConfig(&vulcanCfg.Config{
		Driver:   "postgres",
		User:     dbC.Username,
		Password: dbC.Password,
		Host:     dbC.Host,
		Port:     dbC.Port,
		Database: dbC.Database,
	})
	vulcanOrmDb.Init()
}

func RegisterConfigs() {
	_ = godotenv.Load()
	configs.Init()
	RegisterORM(&configs.GlobalConfig.Database)
}

func App() {
	RegisterConfigs()
	args := os.Args
	if args[1] == "server:up" {
		Server(args[1:])
		return
	}
	RegisterCli()
}

func Server(args []string) {
	r := mux.NewRouter()
	routes.RegisterRoutes(r)
	host := "0.0.0.0"
	port := "8080"
	hp := strings.Join([]string{host, port}, ":")
	println(fmt.Sprintf("Vulcan server Up at %s. Ready to accept connections!", hp))
	http.ListenAndServe(hp, r)
}
