package configs

type Config struct {
	Database DatabaseConfig
	// Server   ServerConfig
}

var GlobalConfig Config

// Init global configs
func Init() {
	GlobalConfig = Config{}
	GlobalConfig.Database.Load()
}
